{% load static %}
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{% static 'location/index.css' %}">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class='container'>
      <h1 class="heading"> HotZone </h1>
      <h3 style='color: beige'> Location Details Retriever </h1>
      <div class='searchbox'>
        <form action="/search" method="GET" name="location">
          <input class="input" id="query" type="text" name="query" placeholder="Enter Location..." value="{{ input }}" />
          <button class="search" type="submit" class="searchButton">
            <p><strong>Search</strong>
            <i class="fa fa-search"></i>
            </p>
          </button>
        </form>
      </div>
      {% block content %}{% endblock %}
      {% block notFound %}{% endblock %}
      {% block Added %}{% endblock %}
    </div>    
  </body>
</html>