{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navbar/index.css' %}">
    <title>Hotzone</title>
</head>
<body>
    <div class="navbar">
        <a href="/view_data_prelim" class="item">View Records</a>
        <a href="/add" class="item">Add Visit Records</a>
        <a href="/cluster_form" class="item">View Clusters</a>
        <a href="/admin" class="item">Admin</a>
        <a href="/logout" class="item">Log Out</a>
    </div>
</body>
</html>